<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
	</head>
	<body>
		<div id="app">
			<mt-search v-model="keyWord" cancel-text="取消" placeholder="搜索" @keyup.enter.native="searchData" >
					<mt-cell :title="item.name" :value="item.price"></mt-cell>
					<mt-index-list v-for="item in items">
					  <mt-index-section :index="item.name" v-for="product in item.products">
						<mt-cell title="product.price">{{product.name}}</mt-cell>
					  </mt-index-section>
					</mt-index-list>
			</mt-search>
		</div>
	</body>
	<!-- 先引入 Vue -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/mint-ui/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
	 var vm = new Vue({
			el: '#app'
			,data:{
				items:[],
				keyWord:""
			}
			
			,created: function() {
				// axios.get('http://182.61.45.76/search?keyWord=哈曼卡顿音响')
				// 	.then(function (response){
				// 		vm.items = response.data;
				// 		console.log(response.data);
				// 		console.log(vm.items);
				// 	});
				
				// axios.post('www.baidu.com', {
				// 		firstName: 'Fred',
				// 		lastName: 'Flintstone'
				// 	})
				// 	.then(function(response) {
				// 		console.log(response);
				// 	})
				// 	.catch(function(error) {
				// 		console.log(error);
				// 	});
				// 				function getUserAccount() {
				// 					return axios.get('/user/12345');
				// 				}
				// 
				// 				function getUserPermissions() {
				// 					return axios.get('/user/12345/permissions');
				// 				}
				// 
				// 				axios.all([getUserAccount(), getUserPermissions()])
				// 					.then(axios.spread(function(acct, perms) {
				// 						// 两个请求现在都执行完成
				// 					}));
			},
			methods: {
			  searchData: function() {
			    axios.get('http://182.61.45.76/search?keyWord='+vm.keyWord)
			    	.then(function (response){
			    		vm.items = response.data;
			    		console.log(response.data);
			    		console.log(vm.items);
			    	});
			  }
			}
		})
	</script>
</html>
