<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
		<style>
			.container{
				width: 40%;
				margin: 20px auto 0px auto;
			}
			.removed{
				color: gray;
			}
			.removed label {
				text-decoration: line-through;
			}
			ul li {
				list-style-type: none;
			}
		</style>
	</head>
	<body>
		<div id="app" class="container">
			<h2>{{title}}</h2>
			<ul>{{items[0]}}</ul>
			<ul>{{items[1]}}</ul>
			<div class="footer">
				<hr />
				<em>change the title of your shopping list here</em>
				<input v-model="title" />
			</div>
			<hr />
			
			
			<!-- v-for -->
			<ul>
				<li v-for="item in items">{{item}}</li>
			</ul>
			
			<!-- checkbox -->
			<ul>
				<li v-for="item in checklist" v-bind:class="{'removed':item.checked}">
					<div class="checkbox">
						<label>
							<input type="checkbox" v-model="item.checked" />{{item.text}}
						</label>
					</div>
				</li>
			</ul>
			
			<!-- v-on -->
			<div class="input-group">
				<input type="text" v-model="newItem" v-on:keyup.enter="addItem" class="form-control"/>
				<span class="input-group-btn">
					<button v-on:click="addItem" class="btn btn-default" type="button">Add!</button>
				</span>
			</div>
		</div>
	</body>
	<script>
		var obj = {};
		var text = '';
		var h2 = document.getElementsByTagName('h2')[0];
		
		var data = {
			items:['hahah','abbbb']
			,title:'myy11234'
			,checklist:[
				{text:'aaa',checked: true}
				,{text:'bbb',checked: true}
				,{text:'ccc',checked: false}
			],
			newItem:""
		};
		new Vue({
			el:'#app',
			data:data,
			methods: {
				addItem: function(){
					var text = this.newItem.trim();
					if(text){
						this.checklist.push({
							text:text,
							checked:false
						});
						this.newItem='';
					}
				}
			}
		})
	</script>
</html>
